<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /edulink/

    # Redirect any requests not targeting the public directory to the public directory
    RewriteCond %{REQUEST_URI} !/public/
    RewriteRule ^(.*)$ public/$1 [R=301,L]
</IfModule>
